<div style="background: aliceblue; min-height:100%">
  <div class="container card">
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <!-- The content below is only a placeholder and can be replaced. -->
        <div class="container" style="text-align:center">
          <h2>Ticket Masterer</h2>

          <h4>Find tickets for all your favourite events</h4>

          <!--
            <h5>A TicketMaster account is required to use this service, click <a href="https://oauth.ticketmaster.com/oauth/authorize?client_id=woQznFCtl6peWX1JV0uaHc7DhABAVdFt&scope=all&response_type=code&redirect_uri=http://localhost:8080">here</a>
            to login</h5>
          -->

          <form class="form-horizontal" [formGroup]="form">
            <div class="form-group" [ngClass]="displayFieldCss('keyword')">
              <div class="col-sm-12">
                <label for="keyword" class="control-label required"
                  >Enter your search term:</label
                >
                <input
                  type="text"
                  id="keyword"
                  class="form-control input-sm"
                  formControlName="keyword"
                />
                <app-field-error-display
                  [displayError]="isFieldValid('keyword')"
                  errorMsg="Please enter a search term"
                ></app-field-error-display>
              </div>
            </div>
          </form>

          <br />

          <button class="btn btn-primary" (click)="getEvents()">
            Get Events
          </button>

          <br /><br />

          <label
            *ngIf="events.length > 0"
            for="keyword"
            class="control-label required"
            >Click on the items below to check for tickets</label
          >

          <br /><br />

          <div *ngFor="let event of events; let i = index">
            <button
              class="btn btn-block"
              style="background: #5258ff; color: white; font-weight: bold; white-space: normal !important;
              word-wrap: break-word;"
              (click)="buttonExpanded[i] = !buttonExpanded[i]"
            >
              {{ event.dates.start.localDate }} {{ event.name }} -
              {{ event.dates.timezone }}
            </button>

            <event-details
              *ngIf="buttonExpanded[i]"
              [event]="event"
            ></event-details>

            <br />
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
