<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Ticket Masterer
  </h2>

  <h4>
    Find tickets for all your favourite events
  </h4>

  <h5>An API key is required to use this service, register <a href="https://developer-acct.ticketmaster.com/user/login">here</a> to optain a key</h5>
  
  
  <h6>Enter your API key:</h6><input #apiKey/>
  
  <br>

  <h6>Enter your search term:</h6>
  <div><input #bandName /></div>
  
  <br>
  <button (click)="getGigsForBand(bandName.value, apiKey.value)">Get Events</button>

  <br>

  <div *ngFor="let event of events">
    {{ event.name }} - {{ event.url }}
  </div>



</div>